<div class="layout">
    <mat-toolbar color="primary">
        <span>Content List</span>
        <span class="fill-remaining-space"></span>
        <!-- <input class="form-control" type="text" name="search" [(ngModel)]="searchContent" autocomplete="off" placeholder="&#61442;  Search"> -->
    </mat-toolbar>

    <!-- File Path-->
    <mat-toolbar>
        <ng-container *ngIf="pathList.length < 1">
            <mat-icon>folder</mat-icon>
            <span>&nbsp;Folder</span>
        </ng-container>

        <ng-container *ngIf="pathList.length >= 1">
            <button mat-icon-button matTooltip="Back" (click)="backToPath()">
            <mat-icon>arrow_back</mat-icon>
          </button> &nbsp;
            <span>
              {{pathListString}}
            </span>
        </ng-container>

        <button mat-icon-button matTooltip="refresh" (click)="getContentWhenBack(currentPath)">
          <mat-icon>refresh</mat-icon>
        </button>

        <span class="fill-remaining-space"></span>
        <button mat-icon-button matTooltip="New folder" (click)="openDialog('NewFolder', currentPath)">
      <mat-icon>create_new_folder</mat-icon>
    </button>
        <button mat-icon-button matTooltip="Upload file" (click)="openDialog('UploadFile', currentPath)">
      <mat-icon>file_upload</mat-icon>
    </button>
        <button mat-icon-button matTooltip="Action">
      <mat-icon>call_to_action</mat-icon>
    </button>

    </mat-toolbar>


    <div class="tableContainer">
        <table mat-table [dataSource]="contentList">

            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'font-size': '18px','font-weight':'bold','text-align': 'center'}">
                    Select
                    <mat-checkbox [ngClass]="{'checkboxselect':masterSelected, 'checkboxdiselect':!masterSelected}" [(ngModel)]="masterSelected" name="list_name" value="m1" (change)="selectMasterEvent()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row" [ngStyle]="{'text-align': 'center'}">
                    <mat-checkbox [ngClass]="{'checkboxselect':row.is_selected, 'checkboxdiselect':!row.is_selected}" [(ngModel)]="row.is_selected" name="list_name" value="row.id" (change)="selectListContentEvent(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="filename">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'font-size': '18px','font-weight':'bold','width': '40%','padding-left': '20px'}">
                    Filename </th>
                <td mat-cell *matCellDef="let row" [ngStyle]="{'padding-left': '20px', 'overflow':'auto'}">
                    <button *ngIf="row.type=='dir'" mat-icon-button matTooltip="Open Folder" class="pointer" (click)="getContentList(row)">
            <mat-icon aria-label="Click to open">folder</mat-icon>
            <span>&nbsp;{{row.filename}}</span>
          </button>

                    <button *ngIf="row.type=='file'" mat-icon-button>
            <mat-icon *ngIf="row.format=='image'">image</mat-icon>
            <mat-icon *ngIf="row.format=='audio'">music_video</mat-icon>
            <mat-icon *ngIf="row.format=='video'">ondemand_video</mat-icon>
            <mat-icon *ngIf="row.format!='image'&&row.format!='video'&&row.format!='audio'">insert_drive_file</mat-icon>
            <span>&nbsp;{{row.filename}}</span>
          </button>

                </td>
            </ng-container>

            <ng-container matColumnDef="format">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'font-size': '18px','font-weight':'bold','width': '10%','text-align': 'center'}">
                    Type </th>
                <td mat-cell *matCellDef="let row" [ngStyle]="{'text-align': 'center'}">
                    <span> {{row.format}}</span>
                </td>
            </ng-container>


            <ng-container matColumnDef="size">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'font-size': '18px','font-weight':'bold','width': '10%','text-align': 'center'}">
                    Size </th>
                <td mat-cell *matCellDef="let row" [ngStyle]="{'text-align': 'center'}">
                    <span> {{row.size}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'font-size': '18px','font-weight':'bold','width': '40%','text-align': 'center'}">
                    Action </th>
                <td mat-cell *matCellDef="let row">
                    <button *ngIf="row.type!='dir'" mat-raised-button matTooltip="View File" color="primary" class="menu-button" (click)="openDialog('View', row)">
                    <mat-icon>open_in_new</mat-icon> &nbsp; View
                    </button>

                    <button mat-raised-button matTooltip="New folder" color="primary" class="menu-button" (click)="openDialog('Rename', row)">
                    <mat-icon>edit</mat-icon> &nbsp; Edit
                    </button>

                    <button mat-raised-button matTooltip="Copy" color="primary" class="menu-button" (click)="openDialog('Copy', row)">
                    <mat-icon>content_copy</mat-icon> &nbsp; Copy
                  </button>

                    <button mat-raised-button matTooltip="Move" color="primary" class="menu-button" (click)="openDialog('Move', row)">
                    <mat-icon>remove_circle</mat-icon> &nbsp; Move
                  </button>

                    <button mat-raised-button matTooltip="Download" color="primary" class="menu-button" (click)="openDialog('Download', row)">
                    <mat-icon>file_download</mat-icon> &nbsp; Download
                  </button>

                    <button mat-raised-button matTooltip="Delete" color="primary" class="menu-button" (click)="openDialog('Delete', row)">
                    <mat-icon>delete</mat-icon> &nbsp; Delete
                  </button>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="tableHeader; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: tableHeader;"></tr>
        </table>
    </div>

</div>