<div class="layout">
    <mat-toolbar color="primary">
        <span>Setting</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>

    <mat-tab-group mat-align-tabs="start" dynamicHeight=true>
        <mat-tab label="Content URL">
            <div class="tablayout">
                Content 1
            </div>
        </mat-tab>
        <mat-tab label="File URL">
            <div class="tablayout">
                Content 2
            </div>
        </mat-tab>
        <mat-tab label="Storage">
            <div class="tablayout">
                Content 3
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
