.layout {
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    height: 100%;
}

.tableContainer {
    background: #cbcecc;
    color: rgba(0, 0, 0, .87);
    height: calc(100vh - 224px) !important;
    overflow: auto;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
   Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}
